<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>MealSloth API</title>
    </head>

    <body>

        <section>

            <div>
                <form enctype="multipart/form-data" action="/test-photo-upload/" method="post"> {% csrf_token %}
                    <div>
                        <table>
                            <tr>
                                <td><label for="file">Photo:</label></td>
                            </tr>
                            <tr>
                                <td>{{ form.file.errors }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.file }}</td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Submit"/></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>

        </section>

    </body>

</html>